body {
    font-family: 'Nunito';
    font-size: 1rem;
    color: #40393e;
    background-color: #7c98ab;
}

.kb-board {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.kb-table {
    display: block;
    width: 200px;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 2px solid #40393e;
    border-radius: 1.3rem;
    background-color: #ae8a8c;
}

.kb-table-title {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.kb-table-add-btn {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    border: 1px solid #40393e;
    border-radius: 1rem;
    background: #e7cba9 no-repeat;
}

.kb-table-add-btn:focus {
    border: 1px solid #40393e;
}

.kb-table-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.kb-card {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #40393e;
    border-radius: 0.5rem;
    background-color: #a9c8c0;
    text-align: center;
}

.kb-card.dragging {
    opacity: 0.5;
}
