body {
    font-family: 'Nunito';
    font-size: 1rem;
    color: #40393e;
    background-color: #7c98ab;
}

.kb-board {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.kb-table {
    display: block;
    resize: horizontal;
    overflow: hidden;
    width: 20rem;
    min-width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 2px solid #40393e;
    border-radius: 1.3rem;
    background-color: #ae8a8c;
    transition: transform 0.08s ease-out, width 0.08s ease-in;
}

.kb-table-title {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.btn-add-card {
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-add-card:hover {
    transform: scale(1.2);
}


.kb-table-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.kb-card {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #40393e;
    border-radius: 0.5rem;
    background-color: #a9c8c0;
    text-align: center;
    word-wrap: break-word;
}

.btn-delete-card {
    float: right;
    vertical-align: middle;
    outline: none;
    border: 0px;
    background: transparent no-repeat;
}

.btn-delete-card:focus {
    border: 0px;
}

.btn-delete-card {
    height: 1.2rem;
    width: 1.2rem;
}

.btn-delete-card:hover {
    transform: scale(1.2);
}

.kb-card.dragging {
    opacity: 0.5;
}
